
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-B8k {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #000000;
}
.desktop-1-B8k .auto-group-4bpx-kbA {
  width: 100%;
  height: 109.3rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-B8k .auto-group-4bpx-kbA .inner-rec-1-gFr {
  width: 87.3825rem;
  height: 91.7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #bd1010;
}
.desktop-1-B8k .auto-group-4bpx-kbA .inner-rec-2-LbJ {
  width: 73.0619rem;
  height: 66rem;
  position: absolute;
  left: 81.8227rem;
  top: 3.7rem;
  background-color: #bd1111;
}
.desktop-1-B8k .auto-group-4bpx-kbA .main-Qr4 {
  width: 123.6rem;
  height: 85rem;
  position: absolute;
  left: 10.6rem;
  top: 20.3rem;
  background-color: rgba(9, 8, 8, 0.9599999785);
}
.desktop-1-B8k .auto-group-4bpx-kbA .vector-1-gYg {
  width: 71.2rem;
  height: 43.5rem;
  position: absolute;
  left: 10.6rem;
  top: 58.7rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-B8k .auto-group-4bpx-kbA .hi-friends-this-is-sankar-ZsN {
  width: 39.5rem;
  height: 14.6rem;
  position: absolute;
  left: 20.9rem;
  top: 31.9rem;
  font-size: 6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-B8k .auto-group-4bpx-kbA .home-w7E {
  width: 8.4rem;
  height: 3.7rem;
  position: absolute;
  left: 27.7rem;
  top: 23.4rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-B8k .auto-group-4bpx-kbA .blogs-ZPW {
  width: 7.9rem;
  height: 3.7rem;
  position: absolute;
  left: 80rem;
  top: 23.6rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-B8k .auto-group-4bpx-kbA .hacker-image-1mJ {
  width: 48.9rem;
  height: 60.3rem;
  position: absolute;
  left: 81.8rem;
  top: 45rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-B8k .auto-group-4bpx-kbA .line-1-4ja {
  width: 57.2rem;
  height: 0.1rem;
  position: absolute;
  left: 18.4rem;
  top: 47.3rem;
  background-color: #bfb5b5;
}
.desktop-1-B8k .auto-group-4bpx-kbA .student-jqi {
  width: 9.4rem;
  height: 3.1rem;
  position: absolute;
  left: 20.9rem;
  top: 48.5rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-B8k .auto-group-4bpx-kbA .line-2-CDW {
  width: 0.1rem;
  height: 5.6rem;
  position: absolute;
  left: 32.5rem;
  top: 47.3rem;
  background-color: #ffdfdf;
}
.desktop-1-B8k .auto-group-4bpx-kbA .programmer-52Q {
  width: 14.5rem;
  height: 3.1rem;
  position: absolute;
  left: 33.7rem;
  top: 48.5rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-B8k .auto-group-bbpf-X9J {
  box-sizing: border-box;
  padding: 0rem 68.4rem 0rem 42.2rem;
  width: 100%;
  height: 3.8rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.desktop-1-B8k .auto-group-bbpf-X9J .group-2-nb2 {
  margin: 0rem 1.8rem 81.2rem 0rem;
  width: 16.5rem;
  height: 4.7rem;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-B8k .auto-group-bbpf-X9J .group-2-nb2 .rectangle-7-GFJ {
  width: 11.0257rem;
  height: 4.7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(9, 8, 8, 0.9599999785);
  border-radius: 10rem;
}
.desktop-1-B8k .auto-group-bbpf-X9J .group-2-nb2 .about-iNC {
  width: 8.6rem;
  height: 3.7rem;
  position: absolute;
  left: 2.6215rem;
  top: 0;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-B8k .auto-group-bbpf-X9J .skill-Zdi {
  margin-bottom: 80.9rem;
  width: 15.1rem;
  height: 5rem;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-B8k .auto-group-bbpf-X9J .skill-Zdi .rectangle-8-fAx {
  width: 10.5965rem;
  height: 5rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(9, 8, 8, 0.9599999785);
  border-radius: 10rem;
}
.desktop-1-B8k .auto-group-bbpf-X9J .skill-Zdi .skills-L2C {
  width: 7rem;
  height: 3.7rem;
  position: absolute;
  left: 3.0465rem;
  top: 0.614rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-B8k .auto-group-igub-z6k {
  width: 145.4rem;
  height: 195.3rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-B8k .auto-group-igub-z6k .rectangle-1-X6g {
  width: 144rem;
  height: 107.7rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-B8k .auto-group-igub-z6k .screenshot-2023-04-12-192658-1-F2g {
  width: 47.6rem;
  height: 63.1rem;
  position: absolute;
  left: 0;
  top: 50.2rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-B8k .auto-group-igub-z6k .a-bit-about-me-9dr {
  width: 42.4rem;
  height: 7.3rem;
  position: absolute;
  left: 52.2rem;
  top: 25.8rem;
  font-size: 6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-B8k .auto-group-igub-z6k .im-student-pursuing-bachelor-degree-in-artificial-intelligence-and-data-science-in-crescent-institute-of-science-and-technology-and-i-like-to-purse-my-career-in-data-science-e4p {
  width: 80.5rem;
  height: 36.4rem;
  position: absolute;
  left: 51.9rem;
  top: 39.5rem;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-B8k .auto-group-igub-z6k .rectangle-6-DXE {
  width: 144rem;
  height: 88.4rem;
  position: absolute;
  left: 0;
  top: 106.9rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-B8k .auto-group-igub-z6k .group-1-vwS {
  width: 125.3rem;
  height: 68.1rem;
  position: absolute;
  left: 9.4rem;
  top: 117rem;
}
.desktop-1-B8k .auto-group-igub-z6k .group-1-vwS .rectangle-2-raC {
  width: 123.1rem;
  height: 67.4rem;
  position: absolute;
  left: 2.2rem;
  top: 0;
  background-color: #000000;
}
.desktop-1-B8k .auto-group-igub-z6k .group-1-vwS .screenshot-2023-04-12-193945-1-oEY {
  width: 43.2rem;
  height: 51.1rem;
  position: absolute;
  left: 0;
  top: 17rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-B8k .auto-group-igub-z6k .group-1-vwS .rectangle-3-isJ {
  width: 21.7rem;
  height: 20.2rem;
  position: absolute;
  left: 49.8rem;
  top: 4.8rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-B8k .auto-group-igub-z6k .group-1-vwS .rectangle-4-eW4 {
  width: 21.7rem;
  height: 20.2rem;
  position: absolute;
  left: 70.6rem;
  top: 32.5rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-B8k .auto-group-igub-z6k .group-1-vwS .rectangle-5-MvG {
  width: 21.7rem;
  height: 20.2rem;
  position: absolute;
  left: 92.3rem;
  top: 4.8rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-B8k .auto-group-igub-z6k .group-1-vwS .data-visualization-UV6 {
  width: 25rem;
  height: 3.7rem;
  position: absolute;
  left: 48.9rem;
  top: 26.6rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-B8k .auto-group-igub-z6k .group-1-vwS .machine-learning-B8c {
  width: 24.2rem;
  height: 3.7rem;
  position: absolute;
  left: 91.1rem;
  top: 25.8rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-B8k .auto-group-igub-z6k .group-1-vwS .data-analysis-4TJ {
  width: 18.9rem;
  height: 3.7rem;
  position: absolute;
  left: 73.5rem;
  top: 54.3rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
